/* all app scss styles here */

@import "compass/css3";
@import "compass/utilities";
@import "arrowstyles";
@import "navstyles";

$first-color :#a7d3cb;
$first-color-position :0%;
$second-color:#bcc1c4;
$second-color-position:32%;
$third-color:#e5cab3;
$third-color-position:59%;
$fourth-color:#fee6c5;
$fourth-color-position:89%;
$fifth-color:#fdecd0;
$fifth-color-position:100%;

@mixin background-gradient {
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,-1);
}

@mixin five-tone-diagonal-gradient(
    $first-color, 
    $first-color-position, 
    $second-color, 
    $second-color-position,
    $third-color,
    $third-color-position,
    $fourth-color,
    $fourth-color-position,
    $fifth-color,
    $fifth-color-position,
    $angle) {

    background: $first-color;

    background: -moz-linear-gradient($angle,  $first-color $first-color-position, 
      $second-color $second-color-position, $third-color $third-color-position, 
      $fourth-color $fourth-color-position, $fifth-color $fifth-color-position);

    background: -webkit-gradient(linear, left top, right bottom, 
      color-stop($first-color-position,$first-color), 
      color-stop($second-color-position,$second-color), 
      color-stop($third-color-position,$third-color), 
      color-stop($fourth-color-position,$fourth-color), 
      color-stop($fifth-color-position,$fifth-color));

    background: -webkit-linear-gradient($angle, $first-color $first-color-position,
      $second-color $second-color-position,$third-color $third-color-position,
      $fourth-color $fourth-color-position,$fifth-color $fifth-color-position);

    background: -o-linear-gradient($angle, $first-color $first-color-position,
      $second-color $second-color-position,$third-color $third-color-position,
      $fourth-color $fourth-color-position,$fifth-color $fifth-color-position);

    background: -ms-linear-gradient($angle, $first-color $first-color-position,
      $second-color $second-color-position,$third-color $third-color-position,
      $fourth-color $fourth-color-position,$fifth-color $fifth-color-position);

    background: linear-gradient($angle, $first-color $first-color-position,
      $second-color $second-color-position,$third-color $third-color-position,
      $fourth-color $fourth-color-position,$fifth-color $fifth-color-position);
}

.dawn {
    @include five-tone-diagonal-gradient(#a7d3cb, 0%, #bcc1c4, 32%, #e5cab3, 59%, #fee6c5, 89%, #fdecd0, 100%, -135deg);
    @include background-gradient;
}
.day {
    @include five-tone-diagonal-gradient(#74bddb, 0%, #a8d1eb, 32%, #cddbf5, 56%, #e4e6fb, 73%, #f6f4f8, 100%, -60deg);
    @include background-gradient;
}
.dusk {
    @include five-tone-diagonal-gradient(#536a97, 11%, #8087ad, 35%, #bca391, 72%, #bd968a, 96%, #a38b8a, 100%, 60deg);
    @include background-gradient;
}
.night {
    @include five-tone-diagonal-gradient(#6f749e, 0%, #9a8daf, 31%, #d0a8b9, 58%, #f8bbb1, 80%, #fde6b1, 100%, 135deg);
    @include background-gradient;
}

.logo {
    max-width: 100%;
    height: 100%;
    color: #000000;
    fill: currentColor;
}

.logo-margin {
    width: 300px;
    height: 100%;
}

.sub-header {
    @media #{$small-up} { font-size: 1rem; }
    @media #{$medium-up} { font-size: 1.5rem; }
    @media #{$xlarge-up} { font-size: 2.5rem; }
}

.contents {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    color: #424242;
}

.centered {
    max-width: 50%;
}

#nav-container {
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,1);
}

.details {
    width: 90%;
    height: 80%;
    padding: 10px;
    text-align: left;
    background-color: rgba(0,0,0,0.1);
}

@include keyframes(fadeIn) {
  0% {
    opacity:0
  }
  100% {
    opacity:1
  }
}

.hidden {
    opacity: 0;
}

.project-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 200%;
    color: #424242;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
    margin-bottom: 40px;
}

.ps4-description {
    align-self: center;
}

.ps4-carousel {
    align-self: center;
    -webkit-transform: translate3d(0,0,3);
}

.ps4 {
    position: relative;
    left: -100px;
    top: 140px
}

.ps4-logo {
    width: 500px;
    height: 100px;
}

.tv-slideshow {
    width: 472px;
    height: 267px;
    background-color: black;
    position: absolute !important;
    top: 12px;
    left: 11px;
    z-index: -1;
}

.tv-slides {
    width: 100%;
    height: 100%;
}
